body {
    background-color: rgb(45, 47, 59);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

figure {

}

.background-image {
    background-image: url("../images/background-image2.png");
    background-color: rgb(45, 47, 59);
    background-position: center right;
}

header {

}

.header-image {
    background-image: url("../images/concrete-pattern2-image.png");
    padding: 5em;
    background-repeat: repeat; 
}

h1 {
    color: whitesmoke
}

.io {
    color:red
}


nav {
    color: whitesmoke;
}

ul {
    color: whitesmoke;
}

a {
    color: whitesmoke;
}

img{
    border: 15px double rgba(29, 13, 2, 0.786);
}

.portfolio {
    width: 280px;
    height: 500px;
}

h2 {
    color: whitesmoke
}

h5 {
    color: whitesmoke
}