body {
    background-color: rgb(45, 47, 59);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.background-image {
    background-image: url("../images/background-image.png");
    background-color: rgb(45, 47, 59);
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    position: relative;
    margin-bottom: 3em;
    border: 2px ridge whitesmoke;
}

.header-image {
    background-image:
        url("../images/Portfolio2.PNG");
    padding: 1em;
    background-position: -69px -70px;
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

h1 {
    color: whitesmoke;
    position:absolute;
    bottom: -72px;
    white-space: nowrap;
    left: 0px;
    font-size: 40px;
}

.io {
    color:red
}


nav {
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;  
}

.about-me{
    color:whitesmoke
}

.work {
    color:whitesmoke
}

.contact-me {
    color:whitesmoke
}

section {
    flex-shrink: 0;
}

.laptop-main {
    width: 1200px;
    height: 600px;
    background-color: black;
    border: 10px ridge white;
}

.keyboard-main {
    width: 588px;
    height: 200px;
    background-color: black;
    border: 10px ridge white;
}

.coding-main {
    width: 588px;
    height: 200px;
    background-color: black;
    border: 10px ridge white;
}

.heat-sink-main {
    width: 588px;
    height: 200px;
    background-color: black;
    border: 10px ridge white;
}

.playstation-main {
    width: 588px;
    height: 200px;
    background-color: black;
    border: 10px ridge white;
}

nav a {
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.631);
    text-align: left;
}

a {
    color: whitesmoke;
    font-size: 24px;
}

h2 {
    color: whitesmoke;
    font-size: 30px;    
}


footer {
    color: white;
    position: relative;
    bottom: 0px;
    text-align: center;
}

.footer-position {
    display: flex;
    justify-content: space-evenly;
}

.info {
    display: flex;
}

.info span {
    margin: 5px;
}

h6 {
    font-size: 20px;
}

@media screen and (max-width: 900px) {
    nav {
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) {
    footer {
        flex-direction: column;
    }
}